/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
	display:flex; 
	flex-direction: column; 
	width:  80%; 
	margin:auto; 
	padding: 40px 0px; 
}


nav{
	display:flex; 
	justify-content: space-around; 
}

nav a {
	text-decoration: none; 
	color: lightgray; 
}
.index{
	font-size: 100px; 
	text-align: center; 
}

.servicesh1{
	font-size: 30px; 

}

button{
	background: white; 
	border: 1px solid black; 
	padding: 10px 50px; 
	
}

button a {
	text-decoration: none; 
	color: black; 
}

.column button{
	border-radius: 5px; 
}
.title{
	display:flex;
	padding: 80px 0px; 
	justify-content: space-between;
	
}
.title div {
	text-align: center; 
	width: 40%;
}
section{
	padding: 60px 0px; 
}

.section2, .section3 {
	display:flex; 
}



header, .section3{
	border-bottom: 1px solid black; 
}

.contact{
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
}

footer{
	padding-top:30px; 
	text-align: center; 
}


.services{
	display:flex; 
	width:100%; 
	padding: 20px 0px; 
	border-bottom: 2px solid black; 
	justify-content: space-between; 
}
.services .column{
	
	width: 50%; 
	margin: 20px 0px; 

}
.column{
	display: flex; 
	flex-direction: column; 
	justify-content: space-between; 
}

.services .row{
	border: 1px solid black; 
	background: lightgray; 
	padding: 5px 20px; 
	margin: 10px; 
	
}

.row h2, button, p{
	margin: 10px; 
}

.services-header-img, middle-img{
	width:100%; 
}

.facts{
	display:flex; 
}

.facts ul{
	list-style-type: square; 
}